In [2]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [3]:
import numpy as np
import pandas as pd
import datetime as dt

#added this change in the code

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect = True)

In [8]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [9]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [10]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [46]:
# Find the most recent date in the data set.

# Measurement table recent date query
recent_date_query = session.query(func.max(Measurement.date)).all()
max_date = recent_date_query[0][0]
print(max_date)

# Measurement table count query
measurement_table = session.query(Measurement.date).count()
print(measurement_table)

# Measurement table prcp query and trying to count how many station
station_query = session.query(Measurement.station).distinct()
station_list = []
for station in station_query:
    if station not in station_list:
        station_list.append(station[0])
    print(station)
station_query.count()
station_list

station_count = 0
for station in station_list:
    if station == station_list[station]:
        station_count += 1
    elif station != station_list

2017-08-23
19550
('USC00519397',)
('USC00513117',)
('USC00514830',)
('USC00517948',)
('USC00518838',)
('USC00519523',)
('USC00519281',)
('USC00511918',)
('USC00516128',)

['USC00519397',
 'USC00513117',
 'USC00514830',
 'USC00517948',
 'USC00518838',
 'USC00519523',
 'USC00519281',
 'USC00511918',
 'USC00516128']

In [10]:
# Station table first row query
first_row_table2 = session.query(Station).first()
print(first_row_table2.__dict__)
for key, value in first_row_table2.__dict__.items():
    print(f"{key}: {value}")

station_query = session.query(Station)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x0000027575836F10>, 'station': 'USC00519397', 'latitude': 21.2716, 'elevation': 3.0, 'longitude': -157.8168, 'name': 'WAIKIKI 717.2, HI US', 'id': 1}
_sa_instance_state: <sqlalchemy.orm.state.InstanceState object at 0x0000027575836F10>
station: USC00519397
latitude: 21.2716
elevation: 3.0
longitude: -157.8168
name: WAIKIKI 717.2, HI US
id: 1

In [19]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
max_date_list = max_date_item.split("-")
# print(max_date_list)

starting_date1 = dt.date(int(max_date_list[0]), int(max_date_list[1]), int(max_date_list[2]))
# print(type(starting_date1))
# print(starting_date1)

starting_date2 = dt.date.fromisoformat(max_date_item)
# print(type(starting_date2))
# print(starting_date2)

one_year = dt.timedelta(days = 366)

t1 = starting_date1 - one_year
print(type(t1))
print(t1)

prcp_date = session.execute("SELECT date, prcp FROM measurement WHERE date > '2017-01-01' LIMIT 10")
# for i in prcp_date:
#     print(i)

# Perform a query to retrieve the data and precipitation scores
sql_query = "SELECT date, prcp FROM measurement WHERE date > '2016-08-23'"
prcp_date_1 = session.execute(sql_query).all()
# print(len(prcp_date_1))
for i in prcp_date_1:
    print(i)
# for i, element in enumerate(prcp_date_1, len(prcp_date_1)):
#     print(i)
# print(element)

prcp_date_2 = session.query(Measurement).filter(Measurement.date, Measurement.prcp).filter(Measurement.date > (t1)).all()
# print(prcp_date_2)
print(t1)
count = 0
for i in prcp_date_2:
    count += 1
    print(i.date, i.prcp)

print(count)
# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

NameError: name 'max_date_item' is not defined

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()