In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect = True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
# Find the most recent date in the data set.

# Measurement table
first_row_table1 = session.query(Measurement).first()
# print(first_row_table1.__dict__)
# print(type(first_row_table1.__dict__))
for item_key, item_value in first_row_table1.__dict__.items():
    print(f"{item_key}: {item_value}")

sql_statement = "SELECT max(date) FROM measurement"
max_date = session.execute(sql_statement)
for date in max_date:
    max_date_item = date[0]
    print(f"Last date in table: {date[0]}")

print(type(max_date))
print(type(max_date_item))

_sa_instance_state: <sqlalchemy.orm.state.InstanceState object at 0x7ffa939e2b80>
date: 2010-01-01
tobs: 65.0
id: 1
station: USC00519397
prcp: 0.08
Last date in table: 2017-08-23
<class 'sqlalchemy.engine.cursor.CursorResult'>
<class 'str'>

In [10]:
# Station table
first_row_table2 = session.query(Station).first()
print(first_row_table2.__dict__)
for key, value in first_row_table2.__dict__.items():
    print(f"{key}: {value}")

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7ffa909e60a0>, 'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'longitude': -157.8168, 'id': 1, 'latitude': 21.2716, 'elevation': 3.0}
_sa_instance_state: <sqlalchemy.orm.state.InstanceState object at 0x7ffa909e60a0>
station: USC00519397
name: WAIKIKI 717.2, HI US
longitude: -157.8168
id: 1
latitude: 21.2716
elevation: 3.0

In [11]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
max_date_list = max_date_item.split("-")
print(max_date_list)

starting_date1 = dt.date(int(max_date_list[0]), int(max_date_list[1]), int(max_date_list[2]))
print(type(starting_date1))
print(starting_date1)

starting_date2 = dt.date.fromisoformat(max_date_item)
print(type(starting_date2))
print(starting_date2)

one_year = dt.timedelta(days = 365)

t1 = starting_date1 - one_year
print(type(t1))
print(t1)

prcp_date = session.execute("SELECT date, prcp FROM measurement WHERE date > '2017-01-01' LIMIT 10")
for i in prcp_date:
    print(i)

# Perform a query to retrieve the data and precipitation scores
sql_query = "SELECT date, prcp FROM measurement WHERE date > '2016-08-23'"
prcp_date_1 = session.execute(sql_query).all()
# for i in prcp_date_1:
#     print(i)

# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

['2017', '08', '23']
<class 'datetime.date'>
2017-08-23
<class 'datetime.date'>
2017-08-23
<class 'datetime.date'>
2016-08-23
('2017-01-02', 0.0)
('2017-01-03', 0.0)
('2017-01-04', 0.0)
('2017-01-05', 0.0)
('2017-01-06', 0.0)
('2017-01-07', 0.0)
('2017-01-08', 0.0)
('2017-01-09', 0.0)
('2017-01-10', 0.0)
('2017-01-11', 0.0)

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()